<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-card *ngIf="items && items.length == 0">
      <ion-card-content>
        <ion-card-title style="text-overflow:ellipsis;" text-wrap>
          No items to display.
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-item>
        <div class="resource">{{item.relationship[settingsService.collections.WEB_PAGE].resource}}</div>
      </ion-item>
    </button>
  </ion-list>
</ion-content>