<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="smartContract.contract_type === smartContractService.contractTypes.CHANGE_OWNERSHIP">
    <ion-col col-md-3>
      <h1 *ngIf="smartContract.proof_type === 'first_come'">Asset for sale</h1>
      <h1 *ngIf="smartContract.proof_type === 'auction'">Asset auction</h1>
      <h3>Info</h3>
      <ion-card ion-item style="">
        <ion-card-title style="text-overflow:ellipsis;" text-wrap>
          <img [src]="smartContract.asset.data">
        </ion-card-title>
        <ion-card-content>
          <strong>Name: </strong>{{smartContract.asset.identity.username}}
        </ion-card-content>
        <ion-card-content>
          <strong>Type: </strong>{{smartContract.proof_type}}
        </ion-card-content>
        <ion-card-content *ngIf="smartContract.proof_type === 'auction'">
          <strong>Reserve: </strong>{{smartContract.price.toFixed(8)}} YDA
        </ion-card-content>
        <ion-card-content *ngIf="smartContract.proof_type === 'first_come'">
          <strong>Price: </strong>{{smartContract.price.toFixed(8)}} YDA
        </ion-card-content>
        <ion-card-content *ngIf="smartContract.proof_type === 'first_come'">
          <strong>Seller: </strong><span *ngIf="smartContract.creator" (click)="openProfile(smartContract.creator)">{{smartContract.creator.username}} <ion-icon *ngIf="graphService.isAdded(smartContract.creator)" name="checkmark-circle" class="success"></ion-icon></span>
        </ion-card-content>
        <ion-card-content *ngIf="(smartContract.expiry - settingsService.latest_block.height) >= 0">
          <strong>Expires: </strong>In {{smartContract.expiry - settingsService.latest_block.height}} blocks
        </ion-card-content>
        <ion-card-content *ngIf="(smartContract.expiry - settingsService.latest_block.height) < 0">
          <strong>Expired: </strong>{{settingsService.latest_block.height - smartContract.expiry}} blocks ago
        </ion-card-content>
      </ion-card>
      <ion-item *ngIf="smartContract.proof_type === 'auction'">
        <ion-label color="primary">Bid amount</ion-label>
        <ion-input type="number" [min]="minPrice" [(ngModel)]="price" placeholder="How much YDA are you bidding?" [disabled]="item.pending"></ion-input>
      </ion-item>
      <button ion-button secondary *ngIf="!item.pending && smartContract.proof_type === 'auction'" (click)="buy($event)" [disabled]="price < minPrice || (smartContract.expiry - settingsService.latest_block.height) < 0">Place bid</button>
      <button ion-button secondary *ngIf="item.pending" (click)="buy($event)" [disabled]="item.pending">Pending blockchain insertion</button>
      <button ion-button secondary *ngIf="!item.pending && bids.length === 0 && smartContract.proof_type === 'first_come'" (click)="buy($event)" [disabled]="price < minPrice || (smartContract.expiry - settingsService.latest_block.height) < 0">Buy this asset</button>
      <button ion-button secondary *ngIf="!item.pending && bids.length > 0 && smartContract.proof_type === 'first_come'" disabled=disabled>This item is sold</button>
    </ion-col>
    <ion-col col-md-3 *ngIf="smartContract.proof_type === 'auction'">
      <h3>Bids</h3>
      <ion-list>
        <ion-item *ngIf="bids.length === 0">No bids yet</ion-item>
        <ion-item *ngFor="let bid of bids" (click)="openProfile(bid.relationship[settingsService.collections.BID])">
          {{bid.relationship[settingsService.collections.BID].username}}
          <ion-icon
            *ngIf="graphService.isAdded(bid.relationship[settingsService.collections.BID])"
            name="checkmark-circle"
            class="success"
          >
          </ion-icon> {{getAmount(bid)}} YDA</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="smartContract.contract_type === smartContractService.contractTypes.NEW_RELATIONSHIP">
    <ion-col col-md-3>
      <h1>Referrals</h1>
      <h3>Info</h3>
      <ion-card ion-item>
        <ion-card-content>
          <strong>Name: </strong>{{smartContract.target.username}}
        </ion-card-content>
        <ion-card-content>
          <strong>Type: </strong>{{smartContract.proof_type}}
        </ion-card-content>
      </ion-card>
      <ng-container *ngIf="smartContract.referrer.active">
        <h3>Referrer payout</h3>
        <ion-item>
          Operator: {{smartContract.referrer.operator}}
        </ion-item>
        <ion-item>
          Payout type: {{smartContract.referrer.payout_type}}
        </ion-item>
        <ion-item>
          Payout interval: Every {{smartContract.referrer.interval}} blocks
        </ion-item>
        <ion-item>
          Amount: {{smartContract.referrer.amount.toFixed(8)}} YDA
        </ion-item>
      </ng-container>
      <ng-container *ngIf="smartContract.referee.active">
        <h3>Referee payout</h3>
        <ion-item>
          Operator: {{smartContract.referee.operator}}
        </ion-item>
        <ion-item>
          Payout type: {{smartContract.referee.payout_type}}
        </ion-item>
        <ion-item>
          Payout interval: Every {{smartContract.referee.interval}} blocks
        </ion-item>
        <ion-item>
          Amount: {{smartContract.referee.amount.toFixed(8)}} YDA
        </ion-item>
      </ng-container>
      <h3>Funding</h3>
      <ion-item>
        Balance: {{balance}} YDA
      </ion-item>
      <ion-item *ngIf="(smartContract.expiry - settingsService.latest_block.height) >= 0">
        Expires: In {{smartContract.expiry - settingsService.latest_block.height}} blocks
      </ion-item>
      <ion-item *ngIf="(smartContract.expiry - settingsService.latest_block.height) < 0">
        Expired: {{settingsService.latest_block.height - smartContract.expiry}} blocks ago
      </ion-item>
    </ion-col>
    <ion-col col-md-3>
      <h1>&nbsp;</h1>
      <h3>Affiliate code</h3>
      <ion-list>
        <ion-item *ngIf="item.public_key === bulletinSecretService.identity.public_key && affiliates.length === 0">No affiliates have joined your program yet</ion-item>
        <ion-item *ngIf="item.public_key !== bulletinSecretService.identity.public_key && affiliates.length === 0">You have not joined the promotion yet</ion-item>
        <ion-item
          *ngFor="let affiliate of affiliates"
        >
          <ion-label color="primary"></ion-label>
          <ion-input type="text" [value]="affiliate.pending ? 'Promo code pending blockchain insertion' : affiliate.rid"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button secondary  (click)="joinPromotion($event)" [disabled]="item.pending || (affiliates.length && affiliates.length > 0)">{{item.pending ? 'Pending block insertion' : 'Become an Affiliate'}}</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h4>Transaction history</h4>
      <strong>Sent</strong><br>
      <button ion-button small (click)="prevSentPage()" [disabled]="sentPage <= 1">< Prev</button> <button ion-button small (click)="nextSentPage()" [disabled]="past_sent_transactions.length === 0 || past_sent_transactions.length < 10">Next ></button>
      <p *ngIf="past_sent_transactions.length === 0">No more results</p><span *ngIf="sentLoading"> (loading...)</span>
      <ion-list>
        <ion-item *ngFor="let txn of past_sent_transactions">
          <ion-label>{{convertDateTime(txn.time)}}</ion-label>
          <ion-label>{{txn.to}}</ion-label>
          <ion-label>{{txn.value}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>