<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="smartContract.contract_type === smartContractService.contractTypes.CHANGE_OWNERSHIP">
    <ion-col col-md-3>
      <h1 *ngIf="smartContract.asset_proof_type === 'first_come'">Asset for sale</h1>
      <h1 *ngIf="smartContract.asset_proof_type === 'auction'">Asset auction</h1>
      <h3>Info</h3>
      <ion-card ion-item style="">
        <ion-card-title style="text-overflow:ellipsis;" text-wrap>
          <img [src]="smartContract.asset.data">
        </ion-card-title>
        <ion-card-content>
          <strong>Name: </strong>{{smartContract.asset.identity.username}}
        </ion-card-content>
        <ion-card-content *ngIf="smartContract.asset_proof_type === 'auction'">
          <strong>Reserve: </strong>{{smartContract.price}} YDA
        </ion-card-content>
        <ion-card-content *ngIf="smartContract.asset_proof_type === 'first_come'">
          <strong>Price: </strong>{{smartContract.price}} YDA
        </ion-card-content>
        <ion-card-content *ngIf="smartContract.asset_proof_type === 'first_come'">
          <strong>Seller: </strong><span *ngIf="smartContract.creator" (click)="openProfile(smartContract.creator)">{{smartContract.creator.username}} <ion-icon *ngIf="graphService.isAdded(smartContract.creator)" name="checkmark-circle" class="success"></ion-icon></span>
        </ion-card-content>
      </ion-card>
      <ion-item *ngIf="smartContract.asset_proof_type === 'auction'">
        <ion-label color="primary">Bid amount</ion-label>
        <ion-input type="number" [min]="minPrice" [(ngModel)]="price" placeholder="How much YDA are you bidding?"></ion-input>
      </ion-item>
      <button ion-button secondary *ngIf="smartContract.asset_proof_type === 'auction'" (click)="buy($event)" [disabled]="price < minPrice">Place bid</button>
      <button ion-button secondary *ngIf="bids.length === 0 && smartContract.asset_proof_type === 'first_come'" (click)="buy($event)" [disabled]="price < minPrice">Buy this asset</button>
      <button ion-button secondary *ngIf="bids.length > 0 && smartContract.asset_proof_type === 'first_come'" disabled=disabled>This item is sold</button>
    </ion-col>
    <ion-col col-md-3 *ngIf="smartContract.asset_proof_type === 'auction'">
      <h3>Bids</h3>
      <ion-list>
        <ion-item *ngIf="bids.length === 0">No bids yet</ion-item>
        <ion-item *ngFor="let bid of bids" (click)="openProfile(bid.relationship[settingsService.collections.BID])">
          {{bid.relationship[settingsService.collections.BID].username}}
          <ion-icon
            *ngIf="graphService.isAdded(bid.relationship[settingsService.collections.BID])"
            name="checkmark-circle"
            class="success"
          >
          </ion-icon> {{getAmount(bid)}} YDA</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="smartContract.contract_type === smartContractService.contractTypes.NEW_RELATIONSHIP">
    <ion-col col-md-3>
      <h1>Referrals</h1>
      <h3>Info</h3>
      <ion-card ion-item>
        <ion-card-content>
          <strong>Name: </strong>{{smartContract.target.username}}
        </ion-card-content>
      </ion-card>
      <ng-container *ngIf="smartContract.referrer.active">
        <h3>Referrer payout</h3>
        <ion-item>
          Operator: {{smartContract.referrer.operator}}
        </ion-item>
        <ion-item>
          Payout type: {{smartContract.referrer.payout_type}}
        </ion-item>
        <ion-item>
          Amount: {{smartContract.referrer.amount}} YDA
        </ion-item>
      </ng-container>
      <ng-container *ngIf="smartContract.referee.active">
        <h3>Referee payout</h3>
        <ion-item>
          Operator: {{smartContract.referee.operator}}
        </ion-item>
        <ion-item>
          Payout type: {{smartContract.referee.payout_type}}
        </ion-item>
        <ion-item>
          Amount: {{smartContract.referee.amount}} YDA
        </ion-item>
      </ng-container>
    </ion-col>
    <ion-col col-md-3>
      <h1>&nbsp;</h1>
      <h3>Affiliate code</h3>
      <ion-list>
        <ion-item *ngIf="affiliates.length === 0">You have not joined the promotion yet</ion-item>
        <ion-item
          *ngFor="let affiliate of affiliates"
        >
          <ion-label color="primary"></ion-label>
          <ion-input type="text" [value]="affiliate.rid"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button secondary  (click)="joinPromotion($event)">Become an Affiliate</button>
    </ion-col>
  </ion-row>
</ion-content>