<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.subject}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button secondary (click)="replyMail(item)" *ngIf="graphService.isAdded(item.sender)">Reply</button>
  <button ion-button secondary (click)="addFriend(item)" *ngIf="!graphService.isAdded(item.sender) && !graphService.isMe(item.sender)">Add sender as contact</button>
  <button *ngIf="item.group" ion-button secondary (click)="replyToAllMail(item)">Reply to all</button>
  <button ion-button secondary (click)="forwardMail(item)">Forward</button>
  <button *ngIf="item.message_type == settingsService.collections.CONTRACT" ion-button secondary (click)="signMail(item)">Sign</button>
  <div title="Verified" class="sender">
    <span (click)="viewProfile(item.sender)">{{item.sender.username}} <ion-icon name="checkmark-circle" class="success"></ion-icon></span>
    <span *ngIf="item.group" (click)="viewProfile(item.group)">{{item.group.username}} <ion-icon name="checkmark-circle" class="success"></ion-icon></span>
  </div>
  <div *ngIf="item.message_type == settingsService.collections.CONTRACT_SIGNED"><strong>Contract signed</strong> <ion-icon name="checkmark-circle" class="success"></ion-icon></div>
  <ion-item>{{item.datetime}}</ion-item>
  <ion-item *ngIf="item.event_datetime">{{item.event_datetime}}</ion-item>
  <ion-item><pre>{{item.body}}</pre></ion-item>
  <ion-item *ngIf="item.skylink"><a href="https://centeridentity.com/sia-download?skylink={{item.skylink}}" target="_blank">Download {{item.filename}}</a></ion-item>
</ion-content>