<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{label}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading"></ion-spinner>
	<ion-list>
	  <ion-item *ngFor="let item of chats" text-wrap>
        <strong>
          <span ion-text style="font-size: 20px;" (click)="viewProfile(item)">{{item.relationship.identity ? item.relationship.identity.username : 'Anonymous'}}</span>
        </strong>
        <span style="font-size: 10px; color: rgb(88, 88, 88);" ion-text>{{item.time}}</span>
        <h3 *ngIf="!item.relationship.isInvite">{{item.relationship[settingsService.collections.CHAT]}}</h3>
        <h3 *ngIf="item.relationship.isInvite && item.relationship[settingsService.collections.CHAT].group === true">Invite to join {{item.relationship[settingsService.collections.CHAT].username}}</h3>
        <button *ngIf="item.relationship.isInvite && item.relationship[settingsService.collections.CHAT].group === true" ion-button (click)="joinGroup(item)">Join group</button>
        <button *ngIf="item.relationship.isInvite && item.relationship[settingsService.collections.CHAT].group !== true" ion-button (click)="requestFriend(item)">Join group</button>
        <a href="https://centeridentity.com/sia-download?skylink={{item.relationship.skylink}}" target="_blank" *ngIf="item.relationship.skylink">Download {{item.relationship.filename}}</a>
        <hr />
	  </ion-item>
	</ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label floating>Chat text</ion-label>
    <ion-input [(ngModel)]="chatText" (keyup.enter)="send()"></ion-input>
  </ion-item>
  <button ion-button (click)="send()" [disabled]="busy">Send <ion-spinner *ngIf="busy"></ion-spinner></button>
  <ion-input type="file" (change)="changeListener($event)" *ngIf="settingsService.remoteSettings.restricted"></ion-input>
</ion-footer>