<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button color="{{chatColor}}" title="Friend Requests" (click)="showFriendRequests()">
      <ion-icon name="contacts"></ion-icon>
    </button>
    <button ion-button color="{{chatColor}}" title="Messages" (click)="showChat()">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading"></ion-spinner>
	<ion-list>
	  <ion-item *ngFor="let item of chats" text-wrap [ngClass]="(item.public_key == public_key) ? 'speech-bubble-right' : 'speech-bubble-left'">
			{{item.relationship.chatText}}
	  </ion-item>
	</ion-list>
	<ion-item>
		<ion-label color="primary" floating>Chat text</ion-label>
		<ion-input [(ngModel)]="chatText"></ion-input>
	</ion-item>
	<button ion-button (click)="send()">Send</button>
</ion-content>