<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle}} - Balance: {{balance}}</ion-title>
    <button ion-button secondary (click)="refreshWallet()">Refresh Balance</button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      <span *ngIf="pageTitle =='Sent Requests'">{{item.transaction.requested_rid}}</span>
      <span *ngIf="pageTitle =='Friend Requests'">{{item.transaction.requester_rid}}</span>
      <span *ngIf="pageTitle =='Friends'">{{item.transaction.rid}}</span>
    </button>
  </ion-list>
  <div *ngIf="selectedItem && pageTitle =='Sent Requests'" padding>
    You navigated here from <b>{{selectedItem.transaction.requested_rid}}</b>
  </div>
  <div *ngIf="selectedItem && pageTitle =='Friend Requests'" padding>
    You navigated here from <b>{{selectedItem.transaction.requester_rid}}</b>

    <button *ngIf="pageTitle == 'Friend Requests'" ion-button secondary (click)="accept(selectedItem.transaction)">Accept Request</button>

    <button *ngIf="pageTitle == 'Friend Requests'" ion-button secondary (click)="send_receipt(selectedItem.transaction)">Send Receipt</button>
  </div>
  <div *ngIf="selectedItem && pageTitle =='Friends'" padding>
    You navigated here from <b>{{selectedItem.transaction.rid}}</b>
  </div>
</ion-content>
