<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{label}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <button *ngIf="pageTitle =='Contacts'" ion-button secondary (click)="addFriend()">Add contact</button>
  <button *ngIf="pageTitle =='Groups'" ion-button secondary (click)="addGroup()">Add group</button>
  <ion-card *ngIf="items && items.length == 0">
      <ion-card-content>
        <ion-card-title style="text-overflow:ellipsis;" text-wrap>
          No items to display.
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <span *ngIf="pageTitle =='Groups'">{{item.transaction.relationship.username}}</span>
      <span *ngIf="pageTitle =='Sent Requests'">{{item.transaction.relationship.identity.username}}</span>
      <span *ngIf="pageTitle =='Contact Requests'">{{item.transaction.relationship.identity.username}}</span>
      <span *ngIf="pageTitle =='Messages' && !identity.new && !identity.parent && identity">{{ identity.identity.username }}</span>
      <span *ngIf="pageTitle =='Messages' && !identity.new && !identity.parent && identity.username">{{ identity.username}}</span>
      <span *ngIf="pageTitle =='Messages' && !identity.new && identity.parent"><ion-note>&nbsp;&nbsp;&nbsp;&nbsp;{{identity.username}}</ion-note></span>
      <span *ngIf="pageTitle =='Chat' && identity.new"><strong>{{identity.username}}</strong></span>
      <span *ngIf="pageTitle =='Sign Ins' && !item.transaction.new">{{item.transaction.relationship.identity.username}}</span>
      <span *ngIf="pageTitle =='Sign Ins' && item.transaction.new"><strong>{{item.transaction.relationship.identity.username}}</strong></span>
      <span *ngIf="pageTitle =='Contacts'">{{item.transaction.relationship.identity.username}}</span>
      <span *ngIf="pageTitle =='Reacts Detail'">{{item.transaction.relationship.react}} {{item.transaction.relationship.identity.username}}</span>
      <span *ngIf="pageTitle =='Comment Reacts Detail'">{{item.transaction.relationship.react}} {{item.transaction.relationship.identity.username}}</span>
    </button>
  </ion-list>
  <div *ngIf="selectedItem && pageTitle =='Sent Requests'" padding>
  </div>
  <div *ngIf="selectedItem && pageTitle =='Contact Requests'" padding>

    <ion-card *ngIf="friend_request">
      <ion-card-header>
        <p><strong>New contact request from {{friend_request.relationship.identity.username}}</strong> </p>
      </ion-card-header>
      <ion-card-content>
        <p>{{friend_request.relationship.identity.username}} would like to be added as a contact</p>
        <button ion-button secondary (click)="accept()">Accept</button>
      </ion-card-content>
    </ion-card>
    <!-- for now, we can't do p2p on WKWebView
    <button *ngIf="pageTitle == 'Contact Requests'" ion-button secondary (click)="accept(selectedItem.transaction)">Accept Request</button>

    <button *ngIf="pageTitle == 'Contact Requests'" ion-button secondary (click)="send_receipt(selectedItem.transaction)">Send Receipt</button>
    -->
  </div>
  <div *ngIf="selectedItem && pageTitle =='Contacts'" padding>
    You navigated here from <b>{{selectedItem.transaction.rid}}</b>
  </div>
  <div *ngIf="selectedItem && pageTitle =='Posts'" padding>
    <a href="{{selectedItem.transaction.relationship.postText}}" target="_blank">{{selectedItem.transaction.relationship.postText}}</a>
  </div>
  <div *ngIf="selectedItem && pageTitle =='Sign Ins'" padding>

    <ion-card>
      <ion-card-header>
        <p><strong>{{selectedItem.transaction.identity.username}}</strong> has sent you an authorization offer. Accept offer with the 'Sign in' button.</p>
      </ion-card-header>
      <ion-card-content>
        <button ion-button secondary (click)="sendSignIn()">Sign in</button>
        Sign in code: {{signInText}}
      </ion-card-content>
    </ion-card>
    <!-- for now, we can't do p2p on WKWebView
    <button *ngIf="pageTitle == 'Contact Requests'" ion-button secondary (click)="accept(selectedItem.transaction)">Accept Request</button>

    <button *ngIf="pageTitle == 'Contact Requests'" ion-button secondary (click)="send_receipt(selectedItem.transaction)">Send Receipt</button>
    -->
  </div>
</ion-content>
