<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <ion-item>
        <h1>{{item.relationship.their_username}}</h1></ion-item>
    </ion-col>
    <ion-col>
      <button ion-button large secondary (click)="addFriend()" *ngIf="!isFriend && item.relationship.group !== true">
        Add friend&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="joinGroup()" *ngIf="!isFriend && item.relationship.group === true">
        Join group&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="message()" *ngIf="isFriend">
        {{item.relationship.group === true ? "Group" : "Direct"}} message&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="invite()" *ngIf="isFriend">
        Invite&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="refer()" *ngIf="isFriend">
        Refer&nbsp;<ion-icon name="create"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>