<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <ion-item>
        <h1>{{identity.username}}</h1></ion-item>
    </ion-col>
    <ion-col>
      <button ion-button large secondary (click)="addFriend()" *ngIf="isAdded === false && group !== true && isMe === false">
        Add contact&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="createSubGroup()" *ngIf="isAdded === true && group === true && !identity.parent">
        Create sub-group&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="compose()" *ngIf="isAdded === true">
        Compose message&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="message()" *ngIf="isAdded === true && !group">
        Chat&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="message()" *ngIf="isAdded === true && group === true">
        Group chat&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <a href="https://centeridentity.com/sia-download?skylink={{identity.skylink}}" *ngIf="identity.skylink" target="_blank">
        <button ion-button large secondary>
          Download&nbsp;<ion-icon name="create"></ion-icon>
        </button>
      </a>
    </ion-col>
  </ion-row>
  <h4>Manage access</h4>
  <ion-row>
    <ion-list>
      <ion-item>

      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row *ngIf="settingsService.remoteSettings.restricted">
    <h4>Public identity <ion-spinner *ngIf="busy"></ion-spinner></h4>
    <ion-item>
      <ion-textarea type="text" [(ngModel)]="identitySkylink" autoGrow="true" rows="1"></ion-textarea>
    </ion-item>
  </ion-row>
  <ion-row *ngIf="!settingsService.remoteSettings.restricted">
    <h4>Public identity</h4>
    <ion-item>
      <ion-textarea type="text" [value]="identityJson" autoGrow="true" rows="5"></ion-textarea>
    </ion-item>
  </ion-row>
  <h4 *ngIf="identity.collection === settingsService.collections.GROUP">Sub groups</h4>
  <ion-row>
    <ion-list>
      <ng-container *ngFor="let group of graphService.graph.groups">
        <ion-item *ngIf="group.relationship[settingsService.collections.GROUP].parent && group.relationship[settingsService.collections.GROUP].parent.username_signature === identity.username_signature" (click)="openSubGroup(group)">
            {{group.relationship[settingsService.collections.GROUP].username}}
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-row>
</ion-content>