<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col text-center>
      <ion-item>
        <h1>{{identity.username}}</h1></ion-item>
    </ion-col>
    <ion-col>
      <button ion-button large secondary (click)="addFriend()" *ngIf="isAdded === false && group !== true">
        Add contact&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="joinGroup()" *ngIf="isAdded === false && group === true">
        Join group&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="createSubGroup()" *ngIf="isAdded === true && group === true">
        Create sub-group&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="compose()" *ngIf="isAdded === true">
        Compose message&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="message()" *ngIf="isAdded === true && !group">
        Chat&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="message()" *ngIf="isAdded === true && group === true">
        Group chat&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <a href="https://siasky.net/{{identity.skylink}}" *ngIf="identity.skylink" target="_blank">
        <button ion-button large secondary>
          Download&nbsp;<ion-icon name="create"></ion-icon>
        </button>
      </a>
    </ion-col>
  </ion-row>
  <ion-row>
    <h4>Manage access</h4>
  </ion-row>
  <ion-row>
    <h4>Public identity</h4>
    <ion-item>
      <ion-textarea type="text" [(ngModel)]="identityJson" autoGrow="true" rows="7"></ion-textarea>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-list>
      <ng-container *ngFor="let group of graphService.graph.groups">
        <ion-item *ngIf="group.relationship.parent && group.relationship.parent.username_signature === item.relationship.username_signature" (click)="openSubGroup(group)">
            {{group.relationship.username}}
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-row>
</ion-content>