<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-row>
    <ion-col col-lg-12 col-md-12 col-sm-12>
      <button ion-button large secondary (click)="unlockWallet()">
        Unlock wallet&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="addFriend()">
        Add friend&nbsp;<ion-icon name="search"></ion-icon>
      </button>
      <button ion-button large secondary (click)="createGroup()">
        Create Group&nbsp;<ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large secondary (click)="joinGroup()">
        Join Group&nbsp;<ion-icon name="create"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-list col-lg-7>
    <ion-item *ngFor="let item of items">
      <ion-card>
        <a href="{{item.url}}" *ngIf="item.url" height="400">
          <img src="{{item.image}}" *ngIf="item.image">
          <ion-card-content>
            <ion-card-title style="text-overflow:ellipsis;" text-wrap>
              {{item.title}}
            </ion-card-title>
            <h2>{{item.username}}</h2>
            <p *ngIf="item.description" style="text-overflow:ellipsis;" text-wrap>
              {{item.description}}
            </p>
          </ion-card-content>
        </a>
        <div *ngIf="!item.url">
          <ion-card-content>
            <ion-card-title style="text-overflow:ellipsis;" text-wrap>
              {{item.title}}
            </ion-card-title>
            <h2>{{item.username}}</h2>
            <h1 *ngIf="item.description" style="text-overflow:ellipsis;" text-wrap>
              {{item.description}}
            </h1>
            <span *ngIf="item.fileName">Files:</span><br>
            <a *ngIf="item.fileName" style="text-overflow:ellipsis; margin-top:50px;" text-wrap (click)="download(item)">
              <strong>{{item.fileName}}</strong>
            </a>
          </ion-card-content>
        </div>
        <ion-row no-padding text-wrap (click)="reactsDetail(item)">
            <ion-item><span *ngFor="let react of graphService.graph.reacts[item.id]" [innerHTML]="react.relationship.react"></span></ion-item>
        </ion-row>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small icon-start (click)="toggled[item.id] = !toggled[item.id]" [(emojiPickerIf)]="toggled[item.id]" [emojiPickerDirection]="'right'" (emojiPickerSelect)="react($event, item)">
              <ion-icon name='sunny'></ion-icon>
              React
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start (click)="share(item)">
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
          <ion-item>
            <ion-input type="text" placeholder="Comment text..." [(ngModel)]="commentInputs[item.id]" (keyup.enter)="comment(item)">
            </ion-input>
          </ion-item>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start (click)="comment(item)">
              <ion-icon name='text'></ion-icon>
              Post comment
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list col-lg-7>
            <ion-item *ngFor="let comment of graphService.graph.comments[item.id]">
              <button style="z-index:1000;"ion-button clear small icon-start (click)="toggled[comment.id] = !toggled[comment.id]" [(emojiPickerIf)]="toggled[comment.id]" [emojiPickerDirection]="'right'" (emojiPickerSelect)="commentReact($event, comment)">
                <ion-icon name='sunny'></ion-icon>
                React
              </button>
              <strong [innerHTML]="comment.username"></strong>
              <ion-item [innerHTML]="comment.relationship.comment" text-wrap></ion-item>
              <ion-row *ngIf="graphService.graph.commentReacts[comment.id] && graphService.graph.commentReacts[comment.id].length > 0" no-padding text-wrap (click)="commentReactsDetail(comment)">
                  <ion-item><span *ngFor="let react of graphService.graph.commentReacts[comment.id]" [innerHTML]="react.relationship.react"></span></ion-item>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
