<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-note *ngIf="settingsService.remoteSettings.restricted" style="font-size: 20px">
            {{bulletinSecretService.identity.username || 'Center Identity'}}
          </ion-note>
          <ion-note *ngIf="!settingsService.remoteSettings.restricted" style="font-size: 20px">
            {{bulletinSecretService.identity.username || 'YadaCoin'}}
          </ion-note>
          <ion-note style="font-size: 12px">
            {{version}}
          </ion-note>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content *ngIf="bulletinSecretService.key">
      <ion-row>
        <ion-col col-lg-2 col-md-2 col-sm-2>
          <button class="navbutton" ion-button value="home" tooltip="Home" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="home"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="wallet" tooltip="Wallet" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="cash"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="mail" tooltip="Mail" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="mail"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="chat" tooltip="Private messages" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="chatboxes"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="community" tooltip="Community chat" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="people"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="calendar" tooltip="Calendar" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="calendar"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="contacts" tooltip="Contacts" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="contacts"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="files" tooltip="Files" (click)="segmentChanged($event)" *ngIf="settingsService.remoteSettings.restricted" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="folder"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="web" tooltip="Web" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="globe"></ion-icon>
          </button>
          <button class="navbutton" ion-button value="notifications" tooltip="Notifications" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge *ngIf="graphService.notifications.length > 0" color="secondary" style="vertical-align:top;position:absolute;" item-right>{{graphService.notifications.length}}</ion-badge>
          </button>
          <button class="navbutton" ion-button value="settings" tooltip="Identity" (click)="segmentChanged($event)" icon-only navTooltip arrow="true" positionH="right" topOffset="-67">
            <ion-icon name="contact"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-lg-10 col-md-10 col-sm-10 style="padding-right: 7px; margin-top: 4px;">
          <ng-container *ngFor="let p of pages">
            <button
              menuClose
              ion-item
              (click)="openPage(p)"
              [color]="graphService.friend_request_count > 0 ? 'primary' : 'grey'"
              *ngIf="p.title == 'Contact Requests'"
              class="subnavbutton"
            >
              {{p.label}}
            </button>
            <button
              menuClose
              ion-item
              (click)="openPage(p)"
              [color]="'grey'"
              *ngIf="p.title == 'Messages'"
              class="subnavbutton"
            >
              {{p.label}}
            </button>
            <button
              menuClose
              ion-item
              (click)="openPage(p)"
              *ngIf="['Messages', 'Contact Requests'].indexOf(p.title) < 0"
              class="subnavbutton"
            >
              {{p.label}}
            </button>
          </ng-container>
        </ion-col>
      </ion-row>
      <img *ngIf="!settingsService.remoteSettings.restricted" src="assets/img/yadacoinlogosmall.png" class="logo">
      <img *ngIf="settingsService.remoteSettings.restricted" src="assets/center-identity-logo-square.png" class="logo">
    </ion-content>

  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>