<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img src="/assets/img/yadacoinlogotextsmall.png" class="logotext">
          <ion-note style="font-size: 12px">
            v1.0.2
          </ion-note>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngIf="graphService.graph.registered === true">
        <button menuClose ion-item *ngFor="let p of pagesForRegisteredUser" (click)="openPage(p)">
          {{p.label}}
        </button>
      </ion-list>
      <ion-list *ngIf="graphService.graph.registered === false">
        <button menuClose ion-item *ngFor="let p of pagesForUnregisteredUser" (click)="openPage(p)">
          {{p.label}}
        </button>
      </ion-list>
      <ion-list *ngIf="settingsService.remoteSettings['walletUrl']">
        <button menuClose ion-item *ngFor="let p of defaultPages" (click)="openPage(p)">
          {{p.label}}
        </button>
      </ion-list>
      <ion-list *ngIf="!settingsService.remoteSettings['walletUrl']">
        <button menuClose ion-item *ngFor="let p of noUrlPages" (click)="openPage(p)">
          {{p.label}}
        </button>
      </ion-list>
      <img src="/assets/img/yadacoinlogosmall.png" class="logo">
    </ion-content>

  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>