<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img src="assets/img/yadacoinlogotextsmall.png" class="logotext">
          <ion-note style="font-size: 12px">
            v1.3
          </ion-note>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngIf="bulletinSecretService.key">
        <ng-container *ngFor="let p of pages">
          <button 
            menuClose 
            ion-item 
            (click)="openPage(p)"
            [color]="graphService.friend_request_count > 0 ? 'primary' : 'grey'"
            *ngIf="p.title == 'Friend Requests'"
          >
            {{p.label}}
          </button>
          <button 
            menuClose 
            ion-item 
            (click)="openPage(p)"
            [color]="graphService.new_messages_count > 0 ? 'primary' : 'grey'"
            *ngIf="p.title == 'Messages'"
          >
            {{p.label}}
          </button>
          <button 
            menuClose 
            ion-item 
            (click)="openPage(p)"
            *ngIf="['Messages', 'Friend Requests'].indexOf(p.title) < 0"
          >
            {{p.label}}
          </button>
        </ng-container>
      </ion-list>
      <img src="assets/img/yadacoinlogosmall.png" class="logo">
    </ion-content>

  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>