<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button color="{{chatColor}}" title="Friend Requests" (click)="showFriendRequests()">
      <ion-icon name="contacts"></ion-icon>
    </button>
    <button ion-button color="{{chatColor}}" title="Messages" (click)="showChat()">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h4>Send YadaCoins</h4>
  <button *ngIf="isDevice" ion-button color="secondary" (click)="scan()" full>Scan Address</button>
  <ion-item>
    <ion-label color="primary" stacked>Address</ion-label>
    <ion-input type="text" placeholder="Recipient address..." [(ngModel)]="address">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" fixed>Amount</ion-label>
    <ion-input type="number" placeholder="Amount..." [(ngModel)]="value">
    </ion-input>
  </ion-item>
  <button ion-button secondary (click)="submit()">Send</button>
  <h4>Receive YadaCoins</h4>
  <ion-item>
    <ion-label color="primary" stacked>Your Address:</ion-label>
    <ion-input type="text" [(ngModel)]="createdCode"></ion-input>
  </ion-item>
  <button *ngIf="isDevice" ion-button outline item-end (click)="shareAddress()">share address&nbsp;<ion-icon name="share"></ion-icon></button>
  <ion-card>
    <ion-card-content>
      <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    </ion-card-content>
  </ion-card>
</ion-content>