<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="{{color}}">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h4>Balance</h4>
  <ion-item>
    {{walletService.wallet.balance}} YADA
  </ion-item>
  <h4>Pending Balance</h4><ion-note>(including funds to be returned to you from your transactions)</ion-note>
  <ion-item>
    {{walletService.wallet.pending_balance}} YADA
  </ion-item>
  <h4>Send YadaCoins</h4>
  <button *ngIf="isDevice" ion-button color="secondary" (click)="scan()" full>Scan Address</button>
  <ion-item *ngIf="identity" title="Verified" class="sender">Recipient: {{identity.username}} <ion-icon *ngIf="graphService.isAdded(identity)" name="checkmark-circle" class="success"></ion-icon></ion-item>
  <ion-list>
    <ion-row *ngFor="let recipient of recipients; let i = index">
      <ion-col>
        <ion-item>
          <ion-label color="primary" stacked>Address</ion-label>
          <ion-input type="text" placeholder="Recipient address..." [(ngModel)]="recipients[i].to">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" fixed>Amount</ion-label>
          <ion-input type="number" placeholder="Amount..." [(ngModel)]="recipients[i].value"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <button ion-button secondary (click)="removeRecipient(i)" *ngIf="i > 0"><ion-icon name="trash"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-list>
  <button ion-button secondary (click)="addRecipient()"><ion-icon name="add"></ion-icon>&nbsp;Add recipient</button>
  <button ion-button secondary (click)="submit()">Send&nbsp;<ion-icon name="send"></ion-icon></button>
  <h4>Receive YadaCoins</h4>
  <ion-item>
    <ion-label color="primary" stacked>Your Address:</ion-label>
    <ion-input type="text" [(ngModel)]="createdCode"></ion-input>
  </ion-item>
  <button *ngIf="isDevice" ion-button outline item-end (click)="shareAddress()">share address&nbsp;<ion-icon name="share"></ion-icon></button>
  <ion-card>
    <ion-card-content>
      <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    </ion-card-content>
  </ion-card>
  <h4>Pending Transactions</h4>
  <strong>Received</strong><br>
  <button ion-button small (click)="prevReceivedPendingPage()" [disabled]="receivedPendingPage <= 1">< Prev</button> <button ion-button small (click)="nextReceivedPendingPage()" [disabled]="past_received_pending_transactions.length === 0 || past_received_pending_transactions.length < 10">Next ></button>
  <p *ngIf="past_received_pending_transactions.length === 0">No more results</p><span *ngIf="receivedPendingLoading"> (loading...)</span>
  <ion-list>
    <ion-item *ngFor="let txn of past_received_pending_transactions">
      <ion-label>{{convertDateTime(txn.time)}}</ion-label>
      <ion-label><a href="/explorer?term={{txn.id}}" target="_blank">{{txn.id}}</a></ion-label>
      <ion-label>{{txn.value}}</ion-label>
    </ion-item>
  </ion-list>
  <strong>Sent</strong><br>
  <button ion-button small (click)="prevSentPendingPage()" [disabled]="sentPendingPage <= 1">< Prev</button> <button ion-button small (click)="nextSentPendingPage()" [disabled]="past_sent_pending_transactions.length === 0 || past_sent_pending_transactions.length < 10">Next ></button>
  <p *ngIf="past_sent_pending_transactions.length === 0">No more results</p><span *ngIf="sentPendingLoading"> (loading...)</span>
  <ion-list>
    <ion-item *ngFor="let txn of past_sent_pending_transactions">
      <ion-label>{{convertDateTime(txn.time)}}</ion-label>
      <ion-label><a href="/explorer?term={{txn.id}}" target="_blank">{{txn.id}}</a></ion-label>
      <ion-label>{{txn.value}}</ion-label>
    </ion-item>
  </ion-list>
  <h4>Transaction history</h4>
  <strong>Received</strong><br>
  <button ion-button small (click)="prevReceivedPage()" [disabled]="receivedPage <= 1">< Prev</button> <button ion-button small (click)="nextReceivedPage()" [disabled]="past_received_transactions.length === 0 || past_received_transactions.length < 10">Next ></button>
  <p *ngIf="past_received_transactions.length === 0">No more results</p><span *ngIf="receivedLoading"> (loading...)</span>
  <ion-list>
    <ion-item *ngFor="let txn of past_received_transactions">
      <ion-label>{{convertDateTime(txn.time)}}</ion-label>
      <ion-label><a href="/explorer?term={{txn.id}}" target="_blank">{{txn.id}}</a></ion-label>
      <ion-label>{{txn.value}}</ion-label>
    </ion-item>
  </ion-list>
  <strong>Sent</strong><br>
  <button ion-button small (click)="prevSentPage()" [disabled]="sentPage <= 1">< Prev</button> <button ion-button small (click)="nextSentPage()" [disabled]="past_sent_transactions.length === 0 || past_sent_transactions.length < 10">Next ></button>
  <p *ngIf="past_sent_transactions.length === 0">No more results</p><span *ngIf="sentLoading"> (loading...)</span>
  <ion-list>
    <ion-item *ngFor="let txn of past_sent_transactions">
      <ion-label>{{convertDateTime(txn.time)}}</ion-label>
      <ion-label><a href="/explorer?term={{txn.id}}" target="_blank">{{txn.id}}</a></ion-label>
      <ion-label>{{txn.value}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>